/* devices viewport width starts at:*/
/*** Background color for `<body>`.*/
/*** Global text color on `<body>`.*/
/*** Global textual link color.*/
/*$link-hover-color:      $brand-success;*/
/*== Typography*/
/* ==========================================================================
   http://www.modularscale.com/?16&px&1.25
   ========================================================================== */
/*** Unit-less `line-height` for use in components like buttons.*/
/* 25/16*/
/*** By default, this inherits from the `<body>`.*/
/*== Navbar*/
/* Basics of a navbar*/
/* Navbar links*/
/* Navbar toggle*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?rsmgoe");
  src: url("../fonts/icomoon/icomoon.eot?rsmgoe#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?rsmgoe") format("truetype"), url("../fonts/icomoon/icomoon.woff?rsmgoe") format("woff"), url("../fonts/icomoon/icomoon.svg?rsmgoe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-phone:before {
  content: "\f095";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-quote-left:before {
  content: "\f10d";
}

.icon-quote-right:before {
  content: "\f10e";
}

.data-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after, .social-network ul:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

#nav {
  position: relative;
}

.navbar-nav {
  letter-spacing: -4px;
}

.navbar-nav li {
  text-transform: uppercase;
  margin: 1.3125em 0;
  letter-spacing: 0;
  text-align: center;
  float: none;
}

@media (min-width: 768px) {
  .navbar-nav li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}

.navbar-nav li a {
  display: inline-block;
  vertical-align: top;
  font-size: 0.75em;
  line-height: 1.333;
  font-weight: 600;
  padding: 0.6667em 0;
  position: relative;
  margin: 0 2.083em;
}

.navbar-nav li a:after {
  background-color: #4b68dd;
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0;
}

.navbar-nav li a:hover:after {
  width: 100%;
}

.navbar-nav .active a:after {
  width: 100%;
}

.navbar-nav .active a:hover:after, .navbar-nav .active a:focus:after {
  width: 100%;
}

.navbar-brand {
  margin: 5px 0;
  width: 40px;
}

@media (min-width: 768px) {
  .navbar-brand {
    margin: 13px 15px 12px;
    width: 50px;
  }
}

.navbar-toggle {
  margin: 1em 0 0 0;
  padding: 0;
}

.navbar-toggle:hover {
  opacity: 0.8;
}

.navbar-toggle .icon-bar {
  width: 1.5625em;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 0.375em;
}

#main-nav {
  -webkit-box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  background-color: #f7f8fd;
  position: absolute;
  z-index: 999;
  width: 100%;
  margin: 0;
  top: 100%;
  left: 0;
}

@media (min-width: 768px) {
  #main-nav {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }
}

#footer {
  padding-bottom: 1.5625em;
  background: #030611;
  position: relative;
}

#footer:after {
  background-color: #13266c;
  position: absolute;
  height: 1px;
  content: "";
  width: 100%;
  left: 0;
  bottom: 75px;
}

#footer .footer-holder {
  padding: 6.25em 0 3.125em;
}

#footer h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f7f8fd;
}

@media (max-width: 767px) {
  #footer .logo-holder {
    margin-bottom: 3.125em;
  }
}

#footer .footer-nav {
  font-size: 0.75em;
  line-height: 1.333;
  font-weight: 600;
  text-transform: uppercase;
}

#footer .footer-nav li + li {
  padding-top: 1.0833em;
}

#footer .footer-nav li a {
  display: inline-block;
  vertical-align: top;
  color: #f7f8fd;
}

#footer .footer-nav .tel {
  color: #7481b4;
}

@media (max-width: 767px) {
  #footer .footer-nav {
    margin-bottom: 3.125em;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #footer .contacts {
    text-align: center;
    display: block;
  }
}

#footer .contacts a {
  display: inline-block;
  vertical-align: top;
  color: #949494;
}

#footer .contacts a + a {
  margin-left: 0.5625em;
}

@media (min-width: 768px) {
  #footer .contacts a + a {
    margin-left: 1.5625em;
  }
}

#footer .contacts .text {
  font-size: 0.8125em;
}

#footer .contacts .icon {
  color: #7481b4;
  margin-right: 0.5625em;
}

#footer .contacts .icon:before {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.5625em;
}

.social-network {
  margin: 0 0 0.9375em;
  text-align: center;
}

@media (min-width: 768px) {
  .social-network {
    text-align: right;
  }
}

.social-network ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.social-network li {
  margin: 0 0.8125em 0 0;
  float: left;
}

.social-network a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #949494;
  border-radius: 50%;
  text-indent: -9999px;
  text-align: center;
  position: relative;
  color: #f7f8fd;
  height: 35px;
  width: 35px;
  float: left;
}

.social-network a:after {
  font-size: 1.25em;
  line-height: 1.75;
  font-weight: normal;
  font-family: icomoon;
  position: absolute;
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.social-network .twitter a:after {
  content: "\f099";
}

.social-network .twitter a:hover {
  background-color: #00acdc;
}

.social-network .facebook a:after {
  content: "\f09a";
}

.social-network .facebook a:hover {
  background-color: #3b5998;
}

.social-network .linkedin a:after {
  content: "\f0e1";
}

.social-network .linkedin a:hover {
  background-color: #0989a9;
}

.add {
  text-align: center;
}

@media (min-width: 768px) {
  .add {
    text-align: left;
  }
}

.copyright {
  font-size: 0.8125em;
  line-height: 1.5384;
  font-weight: 300;
}

.copyright a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f7f8fd;
}

.copyright a:hover {
  color: #949494;
  text-decoration: none;
}

.story-head {
  padding: 6.25em 0 0;
}

.story-head .head-content {
  color: #4b68dd;
}

@media (min-width: 768px) {
  .story-head .head-content {
    table-layout: fixed;
    display: table;
    width: 100%;
  }
  .story-head .head-content [class^='col-'] {
    vertical-align: middle;
    display: table-cell;
    float: none;
  }
}

.story-head .slogan {
  font-size: 1.5625em;
  line-height: 1.56;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  color: #f6a38b;
  font-family: Lora, "Times New Roman", Times, serif;
  margin-top: 2.64em;
  font-style: italic;
}

.story-head .page-title {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 7.4375em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #4b68dd;
  margin: 0 0 0.168em;
}

.story-head .page-title span {
  display: block;
}

.story-head .page-intro {
  font-size: 1.5625em;
  line-height: 1.56;
  font-weight: 600;
  color: #030611;
}

.whoweare {
  padding: 6.25em 0 0;
}

.who-wrapper {
  padding: 0 0 3.125em;
}

.our-skills {
  padding: 1.5625em 0 0;
}

.our-skills h3 {
  text-transform: capitalize;
  margin: 0 0 1.8em;
  font-weight: 300;
}

.our-skills h3:after {
  background-color: #4b68dd;
  margin: 25px auto 0;
  display: block;
  content: "";
  height: 2px;
  width: 39px;
}

.our-skills ul li {
  padding-bottom: 0.8125em;
  color: #e14111;
}

.our-skills ul li:last-child {
  padding-bottom: 0;
}

.values-block {
  margin-bottom: 1.5625em;
  padding: 6.25em 0 0;
}

.values-block .carousel-inner {
  padding-bottom: 3.125em;
  margin: 0 auto;
  width: 568px;
}

.values-block .carousel-control.left, .values-block .carousel-control.right {
  background-image: none;
}

.values-block .carousel-indicators {
  top: 100%;
}

.values-block .carousel-indicators li {
  font-size: 0.8125em;
  line-height: 1.769;
  font-weight: normal;
  border: 1px solid transparent;
  vertical-align: top;
  border-radius: 50%;
  text-indent: 0;
  height: 25px;
  width: 25px;
}

.values-block .carousel-indicators .active {
  border-color: #f38665;
  background-color: transparent;
}

.values-block .carousel-control .icon {
  font-size: 4.65em;
  line-height: 1;
  font-weight: 400;
}

.value-list {
  table-layout: fixed;
  display: table;
  width: 100%;
}

.value-list .value-count,
.value-list .value-content {
  display: table-cell;
  vertical-align: middle;
}

.value-list .value-count {
  font-size: 4.75em;
  line-height: 1;
  font-weight: 700;
  color: #4b68dd;
  position: relative;
  width: 20%;
}

.value-list .value-count:after {
  background-color: #f38665;
  position: absolute;
  content: "";
  width: 2px;
  height: 90%;
  right: 19px;
  top: 6px;
}

.value-list .value-content {
  width: 80%;
}

.value-list .value-content h3 {
  font-size: 1.9375em;
  line-height: 1;
  font-weight: 400;
  font-family: Lora, "Times New Roman", Times, serif;
  color: #4b68dd;
  font-style: italic;
  margin: 0;
}

.value-list .value-content p {
  font-size: 0.8125em;
  line-height: 1.538;
  font-weight: normal;
  margin-bottom: 0;
}

.clients-list {
  padding: 6.25em 0 0;
}

.clients-list .clients-logo {
  letter-spacing: -5px;
  text-align: center;
}

.clients-list .clients-logo li {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  width: 20%;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Hero Banner
   ========================================================================== */
.hero-banner {
  position: relative;
  overflow: hidden;
  color: #f7f8fd;
  padding: 50px 0;
}

@media (min-width: 768px) {
  .hero-banner {
    padding: 100px 0;
  }
}

.bg-stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bg-stretch img {
  max-width: none;
  height: auto;
  width: 100%;
}

.top-info h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f7f8fd;
  font-weight: 800;
  margin: 0 0 46px;
}

@media (min-width: 480px) {
  .top-info {
    width: 450px;
  }
}

@media (min-width: 640px) {
  .top-info {
    width: 600px;
  }
  .top-info h1 {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .top-info {
    width: auto;
  }
  .top-info h1 {
    font-size: 61px;
    margin-bottom: 73px;
  }
}

@media (min-width: 992px) {
  .top-info {
    width: 800px;
  }
  .top-info h1 {
    font-size: 76px;
  }
}

.top-info p {
  margin-bottom: 36px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .top-info p {
    margin-bottom: 61px;
  }
}

.top-info .btn {
  text-transform: uppercase;
  color: #4b68dd;
  border-radius: 50px;
  padding: 11px 28px;
  letter-spacing: 1px;
  border-width: 2px;
  font-weight: 600;
}

.top-info .btn-primary {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: transparent;
}

.top-info .btn-primary:hover {
  background-color: #4b68dd;
  border-color: #4b68dd;
  color: #f7f8fd;
}

/* ==========================================================================
   Clients logo list
   ========================================================================== */
.logo-panel {
  background-color: #fff;
  padding: 0.8125em 0;
}

.logo-panel .title {
  font-size: 0.875em;
  line-height: 1.4285;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
  color: #949494;
}

.logo-wrap {
  letter-spacing: -5px;
  margin: 0;
}

.logo-wrap li {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0.8125em;
  padding: 0 0.8125em;
  letter-spacing: 0;
}

.logo-wrap li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}

.logo-wrap li a:hover {
  opacity: 0.8;
}

/* ==========================================================================
   Intro Section
   ========================================================================== */
.section-heading {
  margin: 0 0 3.125em;
}

.section-heading h2 {
  text-transform: uppercase;
  margin: 0 0 1.1818em;
  letter-spacing: 2px;
}

.intro-section {
  padding: 6.25em 0;
}

.intro-section .more {
  color: #f38665;
  margin: 0.8125em 0 2.3125em;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.intro-section .more:hover {
  text-decoration: none;
  color: #e14111;
}

@media (min-width: 768px) {
  .intro-section .more {
    margin-left: 6.25em;
  }
}

@media (min-width: 768px) {
  .intro-list {
    letter-spacing: -5px;
    margin: 0 -1.5625em;
  }
}

@media (min-width: 768px) {
  .intro-list .intro {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    width: 50%;
  }
}

.intro {
  margin: 0 0 1.5625em;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 1.5625em;
  }
}

.intro .intro-icon {
  text-align: center;
}

@media (min-width: 481px) {
  .intro .intro-icon {
    width: 75px;
    float: left;
  }
}

.intro .glyphicon {
  color: #5970cf;
  line-height: 1.2;
  font-size: 61px;
}

.intro .intro-text {
  overflow: hidden;
}

@media (min-width: 481px) {
  .intro .intro-text {
    padding-left: 1.5625em;
  }
}

.intro .intro-text h3 {
  text-align: center;
  margin: 0 0 0.88em;
}

@media (min-width: 481px) {
  .intro .intro-text h3 {
    text-align: left;
  }
}

/* ==========================================================================
   Services section
   ========================================================================== */
.services-section {
  background-color: #fff;
  padding: 6.25em 0;
}

.services-section .section-heading p {
  font-weight: 300;
  margin: 0 0 2em;
}

@media (min-width: 992px) {
  .services-section .section-heading p {
    font-size: 1.25em;
    line-height: 1.75;
    font-weight: 300;
  }
}

.services-section .section-heading .more {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  width: 100%;
}

@media (min-width: 480px) {
  .services-section .section-heading .more {
    width: auto;
  }
}

/* ==========================================================================
   Data block
   ========================================================================== */
.data-block {
  background-color: #ef5d31;
  text-align: center;
  padding: 6.25em 0;
  color: #f7f8fd;
}

.data-block .section-heading h2 {
  color: #f7f8fd;
}

.data-list {
  letter-spacing: -5px;
}

.data-list .data {
  padding: 1.5625em 1.5625em 0;
  position: relative;
  letter-spacing: 0;
  margin-bottom: 50px;
}

.data-list .data:first-child {
  border-left: none;
}

@media (max-width: 479px) {
  .data-list .data:before {
    background-color: #e14111;
    margin: 0 0 0 -75px;
    position: absolute;
    width: 150px;
    height: 1px;
    top: -13px;
    content: "";
    left: 50%;
  }
  .data-list .data:first-child:before {
    background-color: transparent;
  }
}

@media (min-width: 480px) {
  .data-list .data {
    border-left: 1px solid #e14111;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .data-list .data:last-child {
    border-left: none;
  }
  .data-list .data:last-child:before {
    background-color: #e14111;
    margin: 0 0 0 -75px;
    position: absolute;
    width: 150px;
    height: 1px;
    content: "";
    top: -13px;
    left: 50%;
  }
}

@media (min-width: 992px) {
  .data-list .data {
    width: 33.33%;
  }
}

.data-list .data .glyphicon {
  color: #d83e10;
  font-size: 4.75em;
  line-height: 1.25;
  font-weight: normal;
}

@media (min-width: 992px) {
  .data-list .data .glyphicon {
    padding-right: 0.3289em;
    width: 95px;
    float: left;
  }
}

@media (min-width: 992px) {
  .data-list .data .text-wrap {
    overflow: hidden;
    text-align: left;
  }
}

.data-list .data .text-wrap h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  line-height: 1;
  font-weight: 700;
  margin: 0 0 0.3125em;
  color: #f7f8fd;
}

.data-list .data .text-wrap .text {
  font-size: 0.75em;
  line-height: 1.333;
  font-weight: 700;
  color: #bb360e;
  text-transform: uppercase;
}

.data-list .data-holder {
  overflow: hidden;
}

/* ==========================================================================
   Testimonial block
   ========================================================================== */
.testimonial-block {
  padding: 6.25em 0 3.125em;
}

.testimonial-block .testimonial-holder {
  -webkit-box-shadow: 0 2px 25px 0 rgba(3, 6, 17, 0.1);
  box-shadow: 0 2px 25px 0 rgba(3, 6, 17, 0.1);
  padding: 1.5625em 1.5625em 0;
  background-color: #fff;
  margin: auto;
  position: relative;
}

@media (min-width: 768px) {
  .testimonial-block .testimonial-holder {
    padding: 6.25em 6.25em 0;
    width: 568px;
  }
}

.testimonial-block .testimonial-holder .img-holder {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  height: 4.6875em;
  width: 4.6875em;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .testimonial-block .testimonial-holder .img-holder {
    width: 6.25em;
    height: 6.25em;
  }
}

.testimonial-block .testimonial-holder .img-holder img {
  min-width: 100%;
}

.testimonial-block blockquote {
  padding: 1.5625em 0 1.5625em 4.6875em;
  position: relative;
  font-size: 16px;
  border-left: 0;
}

@media (min-width: 768px) {
  .testimonial-block blockquote {
    padding-left: 7.8125em;
  }
}

.testimonial-block blockquote:before {
  color: #f6f372;
  font-size: 3em;
  line-height: 1;
  font-weight: normal;
  font-family: "icomoon";
  font-weight: normal;
  position: absolute;
  font-style: normal;
  text-align: center;
  content: "\f10d";
  width: 1.5625em;
  left: 0;
}

@media (min-width: 768px) {
  .testimonial-block blockquote:before {
    font-size: 3.8125em;
    width: 1.639em;
  }
}

.testimonial-block blockquote q {
  color: #1b328e;
  font-size: 1.5625em;
  line-height: 1.4;
  font-weight: 700;
  display: block;
  display: block;
}

.testimonial-block blockquote q:before, .testimonial-block blockquote q:after {
  content: "";
}

@media (min-width: 768px) {
  .testimonial-block blockquote q {
    font-size: 1.9375em;
    line-height: 1.3548;
  }
}

.testimonial-block .footline {
  background-color: #f6f372;
  margin: 0 -6.25em;
}

.testimonial-block .footline .footline-holder {
  padding: 1.5625em 6.25em 3.125em;
}

.testimonial-block .footline p {
  text-align: center;
}

.testimonial-block .footline cite {
  font-style: normal;
  display: block;
  color: #030611;
}

.testimonial-block .carousel-inner > .item {
  padding: 50px 0;
}

.testimonial-block .carousel-control {
  width: auto;
}

.testimonial-block .carousel-control.left, .testimonial-block .carousel-control.right {
  background-image: none;
}

.testimonial-block .carousel-control.right {
  left: auto;
}

@media (min-width: 992px) {
  .testimonial-block .carousel-control {
    left: -5em;
  }
  .testimonial-block .carousel-control.right {
    right: -5em;
  }
}

.testimonial-block .carousel-control .icon {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  font-size: 2.4em;
  color: #030611;
  z-index: 5;
  top: 50%;
}

.testimonial-block .carousel-control .icon.icon-angle-right {
  margin-left: -33px;
}

@media (min-width: 768px) {
  .testimonial-block .carousel-control .icon {
    font-size: 4.75em;
  }
}

/* ==========================================================================
   Help section
   ========================================================================== */
.help-section {
  background-color: #fff;
  padding: 6.25em 0;
}

.help-section .more {
  background-color: #7e93e7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #f7f8fd;
}

.help-section .more:hover {
  opacity: 0.8;
}
