/* devices viewport width starts at:*/
/*** Background color for `<body>`.*/
/*** Global text color on `<body>`.*/
/*** Global textual link color.*/
/*$link-hover-color:      $brand-success;*/
/*== Typography*/
/* ==========================================================================
   http://www.modularscale.com/?16&px&1.25
   ========================================================================== */
/*** Unit-less `line-height` for use in components like buttons.*/
/* 25/16*/
/*** By default, this inherits from the `<body>`.*/
/* Forms*/
/*== Navbar*/
/* Basics of a navbar*/
/* Navbar links*/
/* Navbar toggle*/
/**/
/* Variables*/
/* --------------------------------------------------*/
/*== Colors*/
/**/
/*## Gray and brand colors for use across Bootstrap.*/
/* #222*/
/* #333*/
/* #555*/
/* #777*/
/* #eee*/
/* #337ab7*/
/*== Scaffolding*/
/**/
/*## Settings for some of the most global styles.*/
/*** Background color for `<body>`.*/
/*** Global text color on `<body>`.*/
/*** Global textual link color.*/
/*** Link hover color set via `darken()` function.*/
/*** Link hover decoration.*/
/*== Typography*/
/**/
/*## Font, line-height, and color for body text, headings, and more.*/
/*** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.*/
/* ~18px*/
/* ~12px*/
/* ~36px*/
/* ~30px*/
/* ~24px*/
/* ~18px*/
/* ~12px*/
/*** Unit-less `line-height` for use in components like buttons.*/
/* 20/14*/
/*** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.*/
/* ~20px*/
/*** By default, this inherits from the `<body>`.*/
/*== Iconography*/
/**/
/*## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.*/
/*** Load fonts from this directory.*/
/* [converter] If $bootstrap-sass-asset-helper if used, provide path relative to the assets load path.*/
/* [converter] This is because some asset helpers, such as Sprockets, do not work with file-relative paths.*/
/*** File name for all font files.*/
/*** Element ID within SVG icon file.*/
/*== Components*/
/**/
/*## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).*/
/* extra decimals for Win 8.1 Chrome*/
/*** Global color for active items (e.g., navs or dropdowns).*/
/*** Global background color for active items (e.g., navs or dropdowns).*/
/*** Width of the `border` for generating carets that indicate dropdowns.*/
/*** Carets increase slightly in size for larger components.*/
/*== Tables*/
/**/
/*## Customizes the `.table` component with basic values, each used across all table variations.*/
/*** Padding for `<th>`s and `<td>`s.*/
/*** Padding for cells in `.table-condensed`.*/
/*** Default background color used for all tables.*/
/*** Background color used for `.table-striped`.*/
/*** Background color used for `.table-hover`.*/
/*** Border color for table and cell borders.*/
/*== Buttons*/
/**/
/*## For each of Bootstrap's buttons, define text, background and border color.*/
/* Allows for customizing button radius independently from global border radius*/
/*== Forms*/
/**/
/*##*/
/*** `<input>` background color*/
/*** `<input disabled>` background color*/
/*** Text color for `<input>`s*/
/*** `<input>` border color*/
/* TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4*/
/*** Default `.form-control` border radius*/
/* This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.*/
/*** Large `.form-control` border radius*/
/*** Small `.form-control` border radius*/
/*** Border color for inputs on focus*/
/*** Placeholder text color*/
/*** Default `.form-control` height*/
/*** Large `.form-control` height*/
/*** Small `.form-control` height*/
/*** `.form-group` margin*/
/*** Background color for textual input addons*/
/*** Border color for textual input addons*/
/*** Disabled cursor for form controls and buttons.*/
/*== Dropdowns*/
/**/
/*## Dropdown menu container and contents.*/
/*** Background for the dropdown menu.*/
/*** Dropdown menu `border-color`.*/
/*** Dropdown menu `border-color` **for IE8**.*/
/*** Divider color for between dropdown items.*/
/*** Dropdown link text color.*/
/*** Hover color for dropdown links.*/
/*** Hover background for dropdown links.*/
/*** Active dropdown menu item text color.*/
/*** Active dropdown menu item background color.*/
/*** Disabled dropdown menu item background color.*/
/*** Text color for headers within dropdown menus.*/
/*** Deprecated `$dropdown-caret-color` as of v3.1.0*/
/*-- Z-index master list*/
/**/
/* Warning: Avoid customizing these values. They're used for a bird's eye view*/
/* of components dependent on the z-axis and are designed to all work together.*/
/**/
/* Note: These variables are not generated into the Customizer.*/
/*== Media queries breakpoints*/
/**/
/*## Define the breakpoints at which your layout will change, adapting to different screen sizes.*/
/* Extra small screen / phone*/
/*** Deprecated `$screen-xs` as of v3.0.1*/
/*** Deprecated `$screen-xs-min` as of v3.2.0*/
/*** Deprecated `$screen-phone` as of v3.0.1*/
/* Small screen / tablet*/
/*** Deprecated `$screen-sm` as of v3.0.1*/
/*** Deprecated `$screen-tablet` as of v3.0.1*/
/* Medium screen / desktop*/
/*** Deprecated `$screen-md` as of v3.0.1*/
/*** Deprecated `$screen-desktop` as of v3.0.1*/
/* Large screen / wide desktop*/
/*** Deprecated `$screen-lg` as of v3.0.1*/
/*** Deprecated `$screen-lg-desktop` as of v3.0.1*/
/* So media queries don't overlap when required, provide a maximum*/
/*== Grid system*/
/**/
/*## Define your custom responsive grid.*/
/*** Number of columns in the grid.*/
/*** Padding between columns. Gets divided in half for the left and right.*/
/* Navbar collapse*/
/*** Point at which the navbar becomes uncollapsed.*/
/*** Point at which the navbar begins collapsing.*/
/*== Container sizes*/
/**/
/*## Define the maximum width of `.container` for different screen sizes.*/
/* Small screen / tablet*/
/*** For `$screen-sm-min` and up.*/
/* Medium screen / desktop*/
/*** For `$screen-md-min` and up.*/
/* Large screen / wide desktop*/
/*** For `$screen-lg-min` and up.*/
/*== Navbar*/
/**/
/*##*/
/* Basics of a navbar*/
/* Navbar links*/
/* Navbar brand label*/
/* Navbar toggle*/
/*=== Inverted navbar*/
/* Reset inverted navbar basics*/
/* Inverted navbar links*/
/* Inverted navbar brand label*/
/* Inverted navbar toggle*/
/*== Navs*/
/**/
/*##*/
/*=== Shared nav styles*/
/*== Tabs*/
/*== Pills*/
/*== Pagination*/
/**/
/*##*/
/*== Pager*/
/**/
/*##*/
/*== Jumbotron*/
/**/
/*##*/
/*== Form states and alerts*/
/**/
/*## Define colors for form feedback states and, by default, alerts.*/
/*== Tooltips*/
/**/
/*##*/
/*** Tooltip max width*/
/*** Tooltip text color*/
/*** Tooltip background color*/
/*** Tooltip arrow width*/
/*** Tooltip arrow color*/
/*== Popovers*/
/**/
/*##*/
/*** Popover body background color*/
/*** Popover maximum width*/
/*** Popover border color*/
/*** Popover fallback border color*/
/*** Popover title background color*/
/*** Popover arrow width*/
/*** Popover arrow color*/
/*** Popover outer arrow width*/
/*** Popover outer arrow color*/
/*** Popover outer arrow fallback color*/
/*== Labels*/
/**/
/*##*/
/*** Default label background color*/
/*** Primary label background color*/
/*** Success label background color*/
/*** Info label background color*/
/*** Warning label background color*/
/*** Danger label background color*/
/*** Default label text color*/
/*** Default text color of a linked label*/
/*== Modals*/
/**/
/*##*/
/*** Padding applied to the modal body*/
/*** Padding applied to the modal title*/
/*** Modal title line-height*/
/*** Background color of modal content area*/
/*** Modal content border color*/
/*** Modal content border color **for IE8***/
/*** Modal backdrop background color*/
/*** Modal backdrop opacity*/
/*** Modal header border color*/
/*** Modal footer border color*/
/*== Alerts*/
/**/
/*## Define alert colors, border radius, and padding.*/
/*== Progress bars*/
/**/
/*##*/
/*** Background color of the whole progress component*/
/*** Progress bar text color*/
/*** Variable for setting rounded corners on progress bar.*/
/*** Default progress bar color*/
/*** Success progress bar color*/
/*** Warning progress bar color*/
/*** Danger progress bar color*/
/*** Info progress bar color*/
/*== List group*/
/**/
/*##*/
/*** Background color on `.list-group-item`*/
/*** `.list-group-item` border color*/
/*** List group border radius*/
/*** Background color of single list items on hover*/
/*** Text color of active list items*/
/*** Background color of active list items*/
/*** Border color of active list elements*/
/*** Text color for content within active list items*/
/*** Text color of disabled list items*/
/*** Background color of disabled list items*/
/*** Text color for content within disabled list items*/
/*== Panels*/
/**/
/*##*/
/*** Border color for elements within panels*/
/*== Thumbnails*/
/**/
/*##*/
/*** Padding around the thumbnail image*/
/*** Thumbnail background color*/
/*** Thumbnail border color*/
/*** Thumbnail border radius*/
/*** Custom text color for thumbnail captions*/
/*** Padding around the thumbnail caption*/
/*== Wells*/
/**/
/*##*/
/*== Badges*/
/**/
/*##*/
/*** Linked badge text color on hover*/
/*** Badge text color in active nav link*/
/*** Badge background color in active nav link*/
/*== Breadcrumbs*/
/**/
/*##*/
/*** Breadcrumb background color*/
/*** Breadcrumb text color*/
/*** Text color of current page in the breadcrumb*/
/*** Textual separator for between breadcrumb elements*/
/*== Carousel*/
/**/
/*##*/
/*== Close*/
/**/
/*##*/
/*== Code*/
/**/
/*##*/
/*== Type*/
/**/
/*##*/
/*** Horizontal offset for forms and lists.*/
/*** Text muted color*/
/*** Abbreviations and acronyms border color*/
/*** Headings small color*/
/*** Blockquote small color*/
/*** Blockquote font size*/
/*** Blockquote border color*/
/*** Page header border color*/
/*** Width of horizontal description list titles*/
/*** Point at which .dl-horizontal becomes horizontal*/
/*** Horizontal line color.*/
/* Framework grid generation*/
/**/
/* Used only by Bootstrap to generate the correct number of grid classes given*/
/* any value of `$grid-columns`.*/
/* [converter] This is defined recursively in LESS, but Sass supports real loops*/
/* [converter] This is defined recursively in LESS, but Sass supports real loops*/
/* [converter] This is defined recursively in LESS, but Sass supports real loops*/
/* Create grid for specific class*/
.data-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after, .social-network ul:after, .clients-list .clients-logo:after, .technologies ul:after, .post:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

/* custom checkbox styles */
.jcf-checkbox {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  border: 1px solid #dce0e0;
  text-align: center;
  float: left;
  position: relative;
  cursor: default;
  margin: -2px 9px 0 0;
  background: #fff;
}

.jcf-checkbox:before {
  display: none;
}

.jcf-checkbox.jcf-checked:before {
  content: '\f00c';
  display: block;
  font-family: FontAwesome;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  -webkit-font-language-override: normal;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 14px;
  text-rendering: auto;
  color: #0a8446;
}

.jcf-checkbox input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
}

/* custom radio styles */
.jcf-radio {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #fff;
  border: 1px solid #777;
  border-radius: 9px;
  margin: 0 3px 0 0;
  height: 16px;
  width: 16px;
}

.jcf-radio span {
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: #777;
  border-radius: 100%;
}

.jcf-radio input[type="radio"] {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.jcf-radio.jcf-checked span {
  display: block;
}

/* custom select styles */
.jcf-select {
  display: block;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 39px;
  position: relative;
  color: #030611;
  background: #fff;
  border: 1px solid #938f09;
  border-radius: 0;
  -webkit-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}

.jcf-select .jcf-select-opener {
  position: absolute;
  bottom: 0;
  right: 10px;
  top: 50%;
  margin-top: -2px;
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #030611;
}

.jcf-select.jcf-focus {
  border-color: #030611;
  outline: 0;
}

.jcf-select.jcf-focus .jcf-select-opener {
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #030611;
}

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 13px;
  margin: 0 30px 0 0;
}

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
  padding: 0 1px 0 0;
}

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
  border: 1px solid #030611;
}

/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 12px;
  width: 100%;
}

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  overflow: hidden;
  display: block;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 3px 9px;
  color: #656565;
  height: 1%;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #7481b4;
  color: #fff;
}

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */
.jcf-disabled {
  background: #ddd !important;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?rsmgoe");
  src: url("../fonts/icomoon/icomoon.eot?rsmgoe#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?rsmgoe") format("truetype"), url("../fonts/icomoon/icomoon.woff?rsmgoe") format("woff"), url("../fonts/icomoon/icomoon.svg?rsmgoe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-phone:before {
  content: "\f095";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-quote-left:before {
  content: "\f10d";
}

.icon-quote-right:before {
  content: "\f10e";
}

#nav {
  position: relative;
}

.navbar-nav {
  letter-spacing: -4px;
}

.navbar-nav li {
  text-transform: uppercase;
  margin: 1.3125em 0;
  letter-spacing: 0;
  text-align: center;
  float: none;
}

@media (min-width: 768px) {
  .navbar-nav li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}

.navbar-nav li a {
  display: inline-block;
  vertical-align: top;
  font-size: 0.75em;
  line-height: 1.333;
  font-weight: 600;
  padding: 0.6667em 0;
  position: relative;
  margin: 0 2.083em;
}

.navbar-nav li a:after {
  background-color: #4b68dd;
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0;
}

.navbar-nav li a:hover:after {
  width: 100%;
}

.navbar-nav .active a:after {
  width: 100%;
}

.navbar-nav .active a:hover:after, .navbar-nav .active a:focus:after {
  width: 100%;
}

.navbar-brand {
  margin: 5px 0;
  width: 40px;
}

@media (min-width: 768px) {
  .navbar-brand {
    margin: 13px 15px 12px;
    width: 50px;
  }
}

.navbar-toggle {
  margin: 1em 0 0 0;
  padding: 0;
}

.navbar-toggle:hover {
  opacity: 0.8;
}

.navbar-toggle .icon-bar {
  width: 1.5625em;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 0.375em;
}

#main-nav {
  -webkit-box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  background-color: #f7f8fd;
  position: absolute;
  z-index: 999;
  width: 100%;
  margin: 0;
  top: 100%;
  left: 0;
}

@media (min-width: 768px) {
  #main-nav {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }
}

#footer {
  padding-bottom: 1.5625em;
  background: #030611;
  position: relative;
}

#footer:after {
  background-color: #13266c;
  position: absolute;
  height: 1px;
  content: "";
  width: 100%;
  left: 0;
  bottom: 75px;
}

#footer .footer-holder {
  padding: 6.25em 0 3.125em;
}

#footer h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f7f8fd;
}

@media (max-width: 767px) {
  #footer .logo-holder {
    margin-bottom: 3.125em;
  }
}

#footer .footer-nav {
  font-size: 0.75em;
  line-height: 1.333;
  font-weight: 600;
  text-transform: uppercase;
}

#footer .footer-nav li + li {
  padding-top: 1.0833em;
}

#footer .footer-nav li a {
  display: inline-block;
  vertical-align: top;
  color: #f7f8fd;
}

#footer .footer-nav .tel {
  color: #7481b4;
}

@media (max-width: 767px) {
  #footer .footer-nav {
    margin-bottom: 3.125em;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #footer .contacts {
    text-align: center;
    display: block;
  }
}

#footer .contacts a {
  display: inline-block;
  vertical-align: top;
  color: #949494;
}

#footer .contacts a + a {
  margin-left: 0.5625em;
}

@media (min-width: 768px) {
  #footer .contacts a + a {
    margin-left: 1.5625em;
  }
}

#footer .contacts .text {
  font-size: 0.8125em;
}

#footer .contacts .icon {
  color: #7481b4;
  margin-right: 0.5625em;
}

#footer .contacts .icon:before {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.5625em;
}

.social-network {
  margin: 0 0 0.9375em;
  text-align: center;
}

@media (min-width: 768px) {
  .social-network {
    text-align: right;
  }
}

.social-network ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.social-network li {
  margin: 0 0.8125em 0 0;
  float: left;
}

.social-network a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #949494;
  border-radius: 50%;
  text-indent: -9999px;
  text-align: center;
  position: relative;
  color: #f7f8fd;
  height: 35px;
  width: 35px;
  float: left;
}

.social-network a:after {
  font-size: 1.25em;
  line-height: 1.75;
  font-weight: normal;
  font-family: icomoon;
  position: absolute;
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.social-network .twitter a:after {
  content: "\f099";
}

.social-network .twitter a:hover {
  background-color: #00acdc;
}

.social-network .facebook a:after {
  content: "\f09a";
}

.social-network .facebook a:hover {
  background-color: #3b5998;
}

.social-network .linkedin a:after {
  content: "\f0e1";
}

.social-network .linkedin a:hover {
  background-color: #0989a9;
}

.add {
  text-align: center;
}

@media (min-width: 768px) {
  .add {
    text-align: left;
  }
}

.copyright {
  font-size: 0.8125em;
  line-height: 1.5384;
  font-weight: 300;
  color: #f7f8fd;
}

.copyright a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f7f8fd;
}

.copyright a:hover {
  color: #949494;
  text-decoration: none;
}

.story-head {
  padding: 3.125em 0 0;
}

@media (min-width: 768px) {
  .story-head {
    padding: 6.25em 0 0;
  }
}

.story-head .head-content {
  color: #4b68dd;
}

@media (min-width: 768px) {
  .story-head .head-content {
    table-layout: fixed;
    display: table;
    width: 100%;
  }
  .story-head .head-content [class^='col-'] {
    vertical-align: middle;
    display: table-cell;
    float: none;
  }
}

.story-head .slogan {
  font-size: 1.5625em;
  line-height: 1.56;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  color: #f6a38b;
  font-family: Lora, "Times New Roman", Times, serif;
  margin-top: 2.64em;
  font-style: italic;
}

.story-head .page-title {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5.625em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #4b68dd;
  margin: 0 0 0.168em;
  text-align: center;
}

.story-head .page-title span {
  display: block;
}

@media (min-width: 768px) {
  .story-head .page-title {
    font-size: 7.4375em;
    text-align: left;
  }
}

.story-head .page-intro {
  font-size: 1.25em;
  line-height: 1.55;
  font-weight: 600;
  text-align: center;
  color: #030611;
}

@media (min-width: 768px) {
  .story-head .page-intro {
    font-size: 1.5625em;
    text-align: left;
    line-height: 1.56;
  }
}

.whoweare {
  padding: 3.125em 0 0;
}

@media (min-width: 768px) {
  .whoweare {
    padding: 6.25em 0 0;
  }
}

.who-wrapper {
  padding: 0 0 3.125em;
}

.our-skills {
  padding: 1.5625em 0 0;
}

.our-skills h3 {
  text-transform: capitalize;
  margin: 0 0 1.8em;
  font-weight: 300;
}

.our-skills h3:after {
  background-color: #4b68dd;
  margin: 25px auto 0;
  display: block;
  content: "";
  height: 2px;
  width: 39px;
}

.our-skills ul li {
  padding-bottom: 0.8125em;
  color: #e14111;
}

.our-skills ul li:last-child {
  padding-bottom: 0;
}

.values-block {
  margin-bottom: 1.5625em;
  padding: 3.125em 0 0;
}

@media (min-width: 768px) {
  .values-block {
    padding: 6.25em 0 0;
  }
}

.values-block .carousel-inner {
  padding-bottom: 3.125em;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .values-block .carousel-inner {
    width: 568px;
  }
}

.values-block .carousel-control.left, .values-block .carousel-control.right {
  background-image: none;
}

.values-block .carousel-indicators {
  top: 100%;
}

.values-block .carousel-indicators li {
  font-size: 0.8125em;
  line-height: 1.692;
  font-weight: normal;
  border: 1px solid transparent;
  vertical-align: top;
  border-radius: 50%;
  text-indent: 0;
  height: 25px;
  width: 25px;
}

.values-block .carousel-indicators .active {
  border-color: #f38665;
  background-color: transparent;
}

.values-block .carousel-control .icon {
  font-size: 4.65em;
  line-height: 1;
  font-weight: 400;
}

.values-block .carousel-control .icon-angle-left,
.values-block .carousel-control .icon-angle-right {
  display: inline-block;
  position: absolute;
  margin-top: -10px;
  z-index: 5;
}

@media (max-width: 638px) {
  .values-block .carousel-control .icon-angle-left,
  .values-block .carousel-control .icon-angle-right {
    top: 50%;
  }
}

.values-block .carousel-control .icon-angle-left {
  left: 50%;
  margin-left: -10px;
}

.values-block .carousel-control .icon-angle-right {
  right: 50%;
  margin-right: -10px;
}

.value-list {
  table-layout: fixed;
  display: table;
  width: 100%;
}

.value-list .value-count,
.value-list .value-content {
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 640px) {
  .value-list .value-count,
  .value-list .value-content {
    text-align: left;
  }
}

.value-list .value-count {
  font-size: 4.75em;
  line-height: 1;
  font-weight: 700;
  display: table-header-group;
  color: #4b68dd;
  position: relative;
  width: 20%;
}

@media (min-width: 640px) {
  .value-list .value-count {
    display: table-cell;
  }
  .value-list .value-count:after {
    background-color: #f38665;
    position: absolute;
    content: "";
    width: 2px;
    height: 90%;
    right: 19px;
    top: 6px;
  }
}

.value-list .value-content {
  padding: 1.5625em 0 0;
  display: table-cell;
  width: 80%;
}

@media (min-width: 640px) {
  .value-list .value-content {
    padding-top: 0;
  }
}

.value-list .value-content h3 {
  font-size: 1.9375em;
  line-height: 1;
  font-weight: 400;
  font-family: Lora, "Times New Roman", Times, serif;
  color: #4b68dd;
  font-style: italic;
  margin: 0;
}

.value-list .value-content p {
  font-size: 0.8125em;
  line-height: 1.538;
  font-weight: normal;
  margin-bottom: 0;
}

.clients-list {
  padding: 3.125em 0 0;
}

@media (min-width: 768px) {
  .clients-list {
    padding: 6.25em 0 0;
  }
}

.clients-list .clients-logo {
  text-align: center;
}

.clients-list .clients-logo li {
  float: left;
  min-height: 200px;
  white-space: nowrap;
  width: 50%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #fce3db;
}

@media (min-width: 992px) {
  .clients-list .clients-logo li {
    width: 25%;
  }
}

.clients-list .clients-logo li:nth-child(4n + 1) {
  border-left: none;
}

@media (max-width: 991px) {
  .clients-list .clients-logo li:nth-child(2n + 1) {
    border-left: none;
  }
}

.clients-list .clients-logo li:nth-last-child(-n + 1) {
  border-bottom: none;
}

.clients-list .clients-logo li:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  height: 200px;
  width: 1px;
}

.clients-list .clients-logo li img {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  max-width: 100px;
}

.start-project {
  padding: 4.6875em 0 3.125em;
  background: #fff;
}

.start-project h3 {
  margin: 0 0 1.88em;
  font-weight: 300;
}

.start-project .btn {
  -webkit-transition: all 0.3s ease 0s;
  font-size: 0.8125em;
  line-height: 1.2307;
  font-weight: normal;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  border: 3px solid #030611;
  padding: 1.2307em 3em;
  border-radius: 32px;
  font-weight: 700;
  color: #030611;
}

.start-project .btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #030611;
  color: #f7f8fd;
}

.contact {
  padding: 3.125em 0;
}

@media (min-width: 768px) {
  .contact {
    padding: 6.25em 0;
  }
}

.contact .section-heading {
  margin-bottom: 0;
}

.contact .section-heading h1 {
  text-transform: uppercase;
  margin: 0 0 0.82051em;
}

.section-content h2 {
  font-size: 1.5625em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1em;
}

.section-content {
  padding: 0 0 3.125em;
}

.map-block {
  margin-bottom: 3.125em;
  overflow: hidden;
}

.contact-holder {
  margin: 0 0 3.125em;
}

.contact-holder address {
  font-size: 0.8125em;
  line-height: 1.5384;
  font-weight: normal;
}

.contact-info {
  overflow: hidden;
}

.contact-info dt {
  /*color: desaturate($brand-primary, 38%);*/
  text-transform: capitalize;
  margin: 0 1em 0 0;
  float: left;
}

.contact-info dd {
  overflow: hidden;
}

.contact-info .tel {
  color: #949494;
}

.contact-form {
  background-color: #fef2ee;
  border-radius: 3px;
  padding: 0.8125em;
  margin: 0;
}

@media (min-width: 768px) {
  .contact-form {
    padding: 1.5625em;
  }
}

.contact-form .form-group {
  margin-bottom: 1.5em;
}

.contact-form .form-control {
  border-color: #fcdfd6;
  font-size: 0.8125em;
  line-height: 1.5384;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #030611;
  border-radius: 0;
}

.contact-form .form-control:focus {
  border-color: #f8baa7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-form .form-button {
  padding: 0.5em 0;
}

.contact-form .btn {
  font-size: 0.8125em;
  line-height: 1.5384;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  padding: 0.692em 1em;
  border-radius: 20px;
  min-width: 9.1538em;
}

.service-intro {
  padding: 6.25em 0 6.25em;
}

.service-intro h1 {
  text-transform: uppercase;
  margin: 0 0 0.8205em;
}

.service-content {
  background-color: #4b68dd;
  padding: 1.5625em 0;
}

.service-content .clients-list h2 {
  margin: 0 0 1.3225em;
  font-weight: 300;
  color: #f7f8fd;
}

.service-content .clients-list .clients-logo li {
  border-color: #607ae1;
}

.service-item {
  background-color: rgba(3, 6, 17, 0.3);
  padding: 3.125em 3.8125em;
  margin: 0 0 1.5625em;
  position: relative;
  border-radius: 4px;
  text-align: center;
  display: block;
}

.service-item .service-icon {
  color: #f4ef4c;
  margin-bottom: 1.875em;
}

.service-item .service-icon .icon {
  font-size: 95px;
}

.service-item .service-item-text {
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
  opacity: 1;
}

.service-item .service-item-text h2 {
  margin: 0 0 1.3225em;
  font-weight: 300;
  color: #f7f8fd;
}

.service-item .service-item-text p {
  font-family: Lora, "Times New Roman", Times, serif;
  font-size: 1.25em;
  line-height: 1.55;
  font-weight: normal;
  color: #f7f8fd;
}

.service-item:hover {
  text-decoration: none;
}

.service-item .service-item-points {
  background-color: rgba(3, 6, 17, 0.85);
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}

.service-item .service-item-points ul {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.service-item .service-item-points ul li {
  color: #f4ef4c;
  font-size: 1.5625em;
  line-height: 1.24;
  font-weight: normal;
  margin-bottom: 0.76em;
  display: block;
  opacity: 0;
}

.service-item:hover .service-item-text {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
}

.service-item:hover .service-item-points {
  opacity: 1;
}

.service-item:hover .service-item-points ul li {
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
  opacity: 1;
}

.service-item:hover .service-item-points ul li:nth-of-type(1) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.service-item:hover .service-item-points ul li:nth-of-type(2) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.service-item:hover .service-item-points ul li:nth-of-type(3) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.service-item:hover .service-item-points ul li:nth-of-type(4) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.service-header {
  white-space: nowrap;
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #f7f8fd;
}

.service-header:after {
  vertical-align: middle;
  display: inline-block;
  min-height: 35.5em;
  content: "";
}

.service-header > * {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
}

.service-header .container {
  position: relative;
  z-index: 1;
}

.service-header .service-header-content {
  max-width: 454.747px;
  padding: 1.5625em;
  position: relative;
  text-align: left;
}

.service-header .service-header-content:before {
  background: rgba(3, 6, 17, 0.2);
  border-radius: 4px;
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
  z-index: -1;
  right: 0;
  top: 0;
}

.service-header h1 {
  font-weight: 400;
  margin: 0 0 1em;
  color: #f7f8fd;
}

.service-header .service-header-excerpt {
  max-width: 363px;
}

.service-header .service-header-img-bg {
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.general-info {
  padding: 3.125em 0 0;
}

@media (min-width: 768px) {
  .general-info {
    padding: 6.25em 0 0;
  }
}

.general-info .list {
  counter-reset: list-marker;
}

.general-info .list li {
  margin: 0 0 1.5625em;
}

.general-info .list li:before {
  background: #98a9ec;
  counter-increment: list-marker;
  content: counter(list-marker);
  margin: 0 1.5625em 0 0;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: #f7f8fd;
  height: 30px;
  width: 30px;
  float: left;
}

.general-info .list li p {
  color: #12215f;
  overflow: hidden;
  font-weight: 600;
}

.techologies-block {
  margin-bottom: 3.125em;
  padding-top: 3.125em;
}

@media (min-width: 768px) {
  .techologies-block {
    padding: 6.25em 0 0;
    margin: 0 0 6.25em;
  }
}

.techologies-block h2 {
  color: #12215f;
  font-size: 1.5625em;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 1em;
}

@media (min-width: 640px) {
  .techologies-block h2 {
    margin: 0 0 1.806em;
    font-size: 1.9375em;
  }
}

.technologies {
  padding: 3.125em 0;
  background: #fff;
}

.technologies ul {
  text-align: center;
}

.technologies ul li {
  white-space: nowrap;
  min-height: 200px;
  width: 50%;
  float: left;
}

@media (min-width: 640px) {
  .technologies ul li {
    width: 33.33%;
  }
}

.technologies ul li:after {
  vertical-align: middle;
  display: inline-block;
  height: 200px;
  width: 1px;
  content: "";
}

.technologies ul li img {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100px;
}

.other-services {
  margin-bottom: 1.5625em;
}

.other-services h2 {
  font-size: 1.5625em;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 1em;
}

@media (min-width: 640px) {
  .other-services h2 {
    margin-bottom: 1.322em;
    font-size: 1.9375em;
    line-height: 1.1;
  }
}

@media (min-width: 640px) {
  .other-services {
    margin-bottom: 3.125em;
  }
}

@media (min-width: 768px) {
  .other-services {
    margin-bottom: 4.6875em;
  }
}

.other-service {
  border: 1px solid rgba(3, 6, 17, 0.1);
  margin: 0 0 1.5625em;
  text-align: center;
  border-radius: 4px;
  padding: 3.0625em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .other-service {
    padding: 3.0625em 0.75em;
  }
}

.other-service .icon {
  font-size: 3.8125em;
  line-height: 1;
  font-weight: normal;
  color: #4b68dd;
  margin: 0 0 0.639em;
}

.other-service h3 {
  font-size: 1.25em;
  line-height: 1;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 1.05em;
}

.other-service p {
  margin-bottom: 1.07789em;
}

.other-service .btn-primary {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background-color: transparent;
}

.other-service .btn-primary:hover {
  background-color: #4b68dd;
  border-color: #4b68dd;
  color: #f7f8fd;
}

.other-service .btn {
  font-size: 0.8125em;
  line-height: 1.538em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.538em 2.769em;
  color: #4b68dd;
  border-radius: 50px;
  letter-spacing: 1;
  border-width: 2px;
}

.section-hero {
  padding: 6.25em 0;
}

.hero-content h1 {
  font-size: 2.4375em;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 0.278688em;
}

@media (min-width: 640px) {
  .hero-content h1 {
    font-size: 3.8125em;
  }
}

.hero-content p {
  font-family: Lora, "Times New Roman", Times, serif;
  font-size: 1.25em;
  line-height: 1.55;
  font-weight: normal;
}

.post {
  border-bottom: 1px dotted #e14111;
  padding: 3.125em 0;
}

@media (min-width: 992px) {
  .post {
    padding: 6.25em 0;
  }
}

.post:first-of-type {
  padding-top: 0;
}

.featured-post .post {
  border-bottom: none;
  padding: 0;
}

.post .entry-thumbnail {
  margin: 0 0 1.5625em;
  display: block;
}

.post .entry-thumbnail:hover img {
  opacity: .8;
}

.post .entry-thumbnail img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  height: auto;
  width: 100%;
}

.post .entry-title {
  text-transform: capitalize;
  margin: 0 0 0.806em;
  line-height: 1.612;
}

@media (max-width: 767px) {
  .post .entry-title {
    font-size: 1.5625em;
    line-height: 1.24;
  }
}

.post .entry-title a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #030611;
}

.post .entry-title a:hover {
  color: #7481b4;
  text-decoration: none;
}

.post .entry-meta {
  font-size: 0.8125em;
  line-height: 1.538;
  font-weight: normal;
  margin-bottom: 1.923em;
}

.post .entry-meta .entry-author {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0 0 1em;
  display: block;
  color: #030611;
}

.post .entry-meta .entry-author:hover {
  color: #7481b4;
  text-decoration: none;
}

@media (min-width: 480px) {
  .post .entry-meta .entry-author {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1.5625em 0 0;
  }
}

.post .entry-meta .avatar {
  margin: 0 0.8125em 0 0;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.post .entry-meta .entry-date {
  display: inline-block;
  margin: 0 10px 0 0;
}

.post .entry-meta .entry-date:after {
  color: #e14111;
  margin-left: 10px;
  content: "|";
}

.post .entry-excerpt .more {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  vertical-align: top;
  text-transform: capitalize;
  margin: 2.3125em 0 0;
  font-weight: 700;
  color: #030611;
}

.post .entry-excerpt .more:hover {
  color: #7481b4;
  text-decoration: none;
}

.featured-post {
  padding: 6.25em 0 4.6875em;
  background-color: #030611;
}

.featured-post .post {
  margin: 0 0 1.5625em;
}

.featured-post .featured-image {
  margin: 0 0 0.625em;
}

.featured-post .entry-content {
  color: #f7f8fd;
}

.featured-post .entry-content .entry-title {
  font-size: 0.8125em;
  line-height: 1.538;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 1.0625em;
}

.featured-post .entry-content .entry-title a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #f7f8fd;
}

.featured-post .entry-content .entry-title a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@media (min-width: 640px) {
  .featured-post .entry-content .entry-title {
    line-height: 1.25;
    font-size: 1em;
  }
}

.featured-post .entry-content .category-link {
  font-size: 0.625em;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: block;
  float: right;
}

.featured-post .entry-content .category-link:before {
  background-color: #e7e21b;
  position: absolute;
  margin-right: 6px;
  content: "";
  height: 2px;
  width: 25px;
  right: 100%;
  top: 6px;
}

.featured-post .entry-content .category-link a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #f7f8fd;
}

.featured-post .entry-content .category-link a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@media (min-width: 640px) {
  .featured-post .entry-content .category-link {
    font-size: 0.8125em;
  }
}

.filter-bar {
  padding: 1.5625em 0;
}

@media (min-width: 640px) {
  .filter-bar {
    padding: 3.125em 0;
  }
}

.filter-bar h2 {
  font-size: 0.8125em;
  line-height: 1.5384;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.95em;
}

@media (min-width: 768px) {
  .filter-bar h2 {
    line-height: 1.5625;
    font-size: 1em;
  }
}

.filter-bar .filter-form {
  margin: 0 0 0.6875em;
}

.posts-section .sub-title {
  font-size: 0.8125em;
  line-height: 1.5384;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.95em;
}

@media (min-width: 768px) {
  .posts-section .sub-title {
    line-height: 1.5625;
    font-size: 1em;
  }
}

.sect-pagination {
  padding: 1.5625em 0;
}

@media (min-width: 992px) {
  .sect-pagination {
    padding: 4.6875em 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Hero Banner
   ========================================================================== */
.hero-banner {
  position: relative;
  overflow: hidden;
  color: #f7f8fd;
  padding: 50px 0;
}

@media (min-width: 768px) {
  .hero-banner {
    padding: 100px 0;
  }
}

.bg-stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bg-stretch img {
  max-width: none;
  height: auto;
  width: 100%;
}

.top-info h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f7f8fd;
  font-weight: 800;
  margin: 0 0 46px;
}

@media (min-width: 480px) {
  .top-info {
    width: 450px;
  }
}

@media (min-width: 640px) {
  .top-info {
    width: 600px;
  }
  .top-info h1 {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .top-info {
    width: auto;
  }
  .top-info h1 {
    font-size: 61px;
    margin-bottom: 73px;
  }
}

@media (min-width: 992px) {
  .top-info {
    width: 800px;
  }
  .top-info h1 {
    font-size: 76px;
  }
}

.top-info p {
  margin-bottom: 36px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .top-info p {
    margin-bottom: 61px;
  }
}

.top-info .btn {
  text-transform: uppercase;
  color: #4b68dd;
  border-radius: 50px;
  padding: 11px 28px;
  letter-spacing: 1px;
  border-width: 2px;
  font-weight: 600;
}

.top-info .btn-primary {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: transparent;
}

.top-info .btn-primary:hover {
  background-color: #4b68dd;
  border-color: #4b68dd;
  color: #f7f8fd;
}

/* ==========================================================================
   Clients logo list
   ========================================================================== */
.logo-panel {
  background-color: #fff;
  padding: 0.8125em 0;
}

.logo-panel .title {
  font-size: 0.875em;
  line-height: 1.4285;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
  color: #949494;
}

.logo-wrap {
  letter-spacing: -5px;
  margin: 0;
}

.logo-wrap li {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0.8125em;
  padding: 0 0.8125em;
  letter-spacing: 0;
}

.logo-wrap li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}

.logo-wrap li a:hover {
  opacity: 0.8;
}

/* ==========================================================================
   Intro Section
   ========================================================================== */
.section-heading {
  margin: 0 0 3.125em;
}

.section-heading h2 {
  text-transform: uppercase;
  margin: 0 0 1.1818em;
  letter-spacing: 2px;
}

.intro-section {
  padding: 6.25em 0;
}

.intro-section .more {
  color: #f38665;
  margin: 0.8125em 0 2.3125em;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.intro-section .more:hover {
  text-decoration: none;
  color: #e14111;
}

@media (min-width: 768px) {
  .intro-section .more {
    margin-left: 6.25em;
  }
}

@media (min-width: 768px) {
  .intro-list {
    letter-spacing: -5px;
    margin: 0 -1.5625em;
  }
}

@media (min-width: 768px) {
  .intro-list .intro {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    width: 50%;
  }
}

.intro {
  margin: 0 0 1.5625em;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 1.5625em;
  }
}

.intro .intro-icon {
  text-align: center;
}

@media (min-width: 481px) {
  .intro .intro-icon {
    width: 75px;
    float: left;
  }
}

.intro .glyphicon {
  color: #5970cf;
  line-height: 1.2;
  font-size: 61px;
}

.intro .intro-text {
  overflow: hidden;
}

@media (min-width: 481px) {
  .intro .intro-text {
    padding-left: 1.5625em;
  }
}

.intro .intro-text h3 {
  text-align: center;
  margin: 0 0 0.88em;
}

@media (min-width: 481px) {
  .intro .intro-text h3 {
    text-align: left;
  }
}

/* ==========================================================================
   Services section
   ========================================================================== */
.services-section {
  background-color: #fff;
  padding: 6.25em 0;
}

.services-section .section-heading p {
  font-weight: 300;
  margin: 0 0 2em;
}

@media (min-width: 992px) {
  .services-section .section-heading p {
    font-size: 1.25em;
    line-height: 1.75;
    font-weight: 300;
  }
}

.services-section .section-heading .more {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  width: 100%;
}

@media (min-width: 480px) {
  .services-section .section-heading .more {
    width: auto;
  }
}

/* ==========================================================================
   Data block
   ========================================================================== */
.data-block {
  background-color: #ef5d31;
  text-align: center;
  padding: 6.25em 0;
  color: #f7f8fd;
}

.data-block .section-heading h2 {
  color: #f7f8fd;
}

.data-list {
  letter-spacing: -5px;
}

.data-list .data {
  padding: 1.5625em 1.5625em 0;
  position: relative;
  letter-spacing: 0;
  margin-bottom: 50px;
}

.data-list .data:first-child {
  border-left: none;
}

@media (max-width: 479px) {
  .data-list .data:before {
    background-color: #e14111;
    margin: 0 0 0 -75px;
    position: absolute;
    width: 150px;
    height: 1px;
    top: -13px;
    content: "";
    left: 50%;
  }
  .data-list .data:first-child:before {
    background-color: transparent;
  }
}

@media (min-width: 480px) {
  .data-list .data {
    border-left: 1px solid #e14111;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .data-list .data:last-child {
    border-left: none;
  }
  .data-list .data:last-child:before {
    background-color: #e14111;
    margin: 0 0 0 -75px;
    position: absolute;
    width: 150px;
    height: 1px;
    content: "";
    top: -13px;
    left: 50%;
  }
}

@media (min-width: 992px) {
  .data-list .data {
    width: 33.33%;
  }
}

.data-list .data .glyphicon {
  color: #d83e10;
  font-size: 4.75em;
  line-height: 1.25;
  font-weight: normal;
}

@media (min-width: 992px) {
  .data-list .data .glyphicon {
    padding-right: 0.3289em;
    width: 95px;
    float: left;
  }
}

@media (min-width: 992px) {
  .data-list .data .text-wrap {
    overflow: hidden;
    text-align: left;
  }
}

.data-list .data .text-wrap h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  line-height: 1;
  font-weight: 700;
  margin: 0 0 0.3125em;
  color: #f7f8fd;
}

.data-list .data .text-wrap .text {
  font-size: 0.75em;
  line-height: 1.333;
  font-weight: 700;
  color: #bb360e;
  text-transform: uppercase;
}

.data-list .data-holder {
  overflow: hidden;
}

/* ==========================================================================
   Testimonial block
   ========================================================================== */
.testimonial-block {
  padding: 6.25em 0 3.125em;
}

.testimonial-block .testimonial-holder {
  -webkit-box-shadow: 0 2px 25px 0 rgba(3, 6, 17, 0.1);
  box-shadow: 0 2px 25px 0 rgba(3, 6, 17, 0.1);
  padding: 1.5625em 1.5625em 0;
  background-color: #fff;
  margin: auto;
  position: relative;
}

@media (min-width: 768px) {
  .testimonial-block .testimonial-holder {
    padding: 6.25em 6.25em 0;
    width: 568px;
  }
}

.testimonial-block .testimonial-holder .img-holder {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  height: 4.6875em;
  width: 4.6875em;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .testimonial-block .testimonial-holder .img-holder {
    width: 6.25em;
    height: 6.25em;
  }
}

.testimonial-block .testimonial-holder .img-holder img {
  min-width: 100%;
}

.testimonial-block blockquote {
  padding: 1.5625em 0 1.5625em 4.6875em;
  position: relative;
  font-size: 16px;
  border-left: 0;
}

@media (min-width: 768px) {
  .testimonial-block blockquote {
    padding-left: 7.8125em;
  }
}

.testimonial-block blockquote:before {
  color: #f6f372;
  font-size: 3em;
  line-height: 1;
  font-weight: normal;
  font-family: "icomoon";
  font-weight: normal;
  position: absolute;
  font-style: normal;
  text-align: center;
  content: "\f10d";
  width: 1.5625em;
  left: 0;
}

@media (min-width: 768px) {
  .testimonial-block blockquote:before {
    font-size: 3.8125em;
    width: 1.639em;
  }
}

.testimonial-block blockquote q {
  color: #1b328e;
  font-size: 1.5625em;
  line-height: 1.4;
  font-weight: 700;
  display: block;
  display: block;
}

.testimonial-block blockquote q:before, .testimonial-block blockquote q:after {
  content: "";
}

@media (min-width: 768px) {
  .testimonial-block blockquote q {
    font-size: 1.9375em;
    line-height: 1.3548;
  }
}

.testimonial-block .footline {
  background-color: #f6f372;
  margin: 0 -6.25em;
}

.testimonial-block .footline .footline-holder {
  padding: 1.5625em 6.25em 3.125em;
}

.testimonial-block .footline p {
  text-align: center;
}

.testimonial-block .footline cite {
  font-style: normal;
  display: block;
  color: #030611;
}

.testimonial-block .carousel-inner > .item {
  padding: 50px 0;
}

.testimonial-block .carousel-control {
  width: auto;
}

.testimonial-block .carousel-control.left, .testimonial-block .carousel-control.right {
  background-image: none;
}

.testimonial-block .carousel-control.right {
  left: auto;
}

@media (min-width: 992px) {
  .testimonial-block .carousel-control {
    left: -5em;
  }
  .testimonial-block .carousel-control.right {
    right: -5em;
  }
}

.testimonial-block .carousel-control .icon {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  font-size: 2.4em;
  color: #030611;
  z-index: 5;
  top: 50%;
}

.testimonial-block .carousel-control .icon.icon-angle-right {
  margin-left: -33px;
}

@media (min-width: 768px) {
  .testimonial-block .carousel-control .icon {
    font-size: 4.75em;
  }
}

/* ==========================================================================
   Help section
   ========================================================================== */
.help-section {
  background-color: #fff;
  padding: 6.25em 0;
}

.help-section .more {
  background-color: #7e93e7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #f7f8fd;
}

.help-section .more:hover {
  opacity: 0.8;
}

.jcf-select-form-control {
  font-size: 0.8125em;
  line-height: 1.461;
  font-weight: normal;
  padding: 0.692em 0.923em;
}

.pagination > li {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5em;
}

.pagination > li > a,
.pagination > li > span {
  font-size: 0.8125em;
  line-height: 1.53861;
  font-weight: normal;
  width: 2.923em;
  height: 2.923em;
  border-radius: 50%;
  padding: 0.6153em;
  display: block;
  float: none;
}

@media (min-width: 992px) {
  .pagination > li > a,
  .pagination > li > span {
    width: 3.8461em;
    height: 3.8461em;
    padding: 1.1538461em;
  }
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
