.section-hero{
	padding: 6.25em 0;
}
.hero-content{
	h1{
		@include font(2.4375em,1, 400);
		text-transform: uppercase;
		margin: 0 0 0.278688em;
		@include media('>s-phone'){
			font-size: 3.8125em;
		}
	}
	p{
		font-family: $font-family-serif;
		@include font(1.25em,1.55);
	}
}
.post{
	border-bottom: 1px dotted $brand-danger;
	@extend %clearfix;
	padding: 3.125em 0;
	@include media('>desktop'){
		padding: 6.25em 0;
	}
	&:first-of-type{
		padding-top: 0;
	}
	.featured-post &{
		border-bottom: none;
		padding: 0;
	}
	.entry-thumbnail{
		margin: 0 0 1.5625em;
		display: block;
		&:hover img{
			opacity: .8;
		}
		img{
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			display: block;
			height: auto;
			width: 100%;
		}
	}
	.entry-title{
		@include media('<=tablet'){
			font-size: 1.5625em;
			line-height: 1.24;
		}
		text-transform: capitalize;
		margin: 0 0 0.806em;
		line-height: 1.612;
		a{
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			color: $black;
			&:hover{
				color: desaturate($brand-primary, 38%);
				text-decoration: none;
			}
		}
	}
	.entry-meta{
		@include font(0.8125em,1.538);
		margin-bottom: 1.923em;
		.entry-author{
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			margin: 0 0 1em;
			display: block;
			color: $black;
			&:hover{
				color: desaturate($brand-primary, 38%);
				text-decoration: none;
			}
			@include media('>=phone'){
				@include display(inline-block,middle);
				margin: 0 1.5625em 0 0;
			}
		}
		.avatar{
			margin: 0 0.8125em 0 0;
			display: inline-block;
			height: 50px;
			width: 50px;
		}
		.entry-date{
			display: inline-block;
			margin: 0 10px 0 0;
			&:after{
				color: $brand-danger;
				margin-left: 10px;
				content: "|";
			}
		}
	}
	.entry-excerpt{
		.more{
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			@include display(inline-block, top);
			text-transform: capitalize;
			margin: 2.3125em 0 0;
			font-weight: 700;
			color: $black;
			&:hover{
				color: desaturate($brand-primary, 38%);
				text-decoration: none;
			}
		}
	}
}
.featured-post{
	padding: 6.25em 0 4.6875em;
	background-color: $black;
	.post{
		margin: 0 0 1.5625em;
	}
	.featured-image{
		margin: 0 0 0.625em;
	}
	.entry-content{
		color: $white;
		.entry-title{
			@include font(0.8125em,1.538,700);
			text-transform: capitalize;
			margin: 0 0 1.0625em;
			a{
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				color: $white;
				&:hover{
					text-decoration: none;
					opacity: 0.6;
				}
			}
			@include media('>s-phone'){
				line-height: 1.25;
				font-size: 1em;
			}
		}
		.category-link{
			@include font(0.625em, 1, 600);
			text-transform: uppercase;
			position: relative;
			display: block;
			float: right;
			&:before{
				background-color: desaturate($brand-info, 7%);
				position: absolute;
				margin-right: 6px;
				content: "";
				height: 2px;
				width: 25px;
				right: 100%;
				top: 6px;
			}
			a{
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				color: $white;
				&:hover{
					text-decoration: none;
					opacity: 0.6;
				}
			}
			@include media('>s-phone'){
				font-size: 0.8125em;
			}
		}
	}
}
.filter-bar{
	padding: 1.5625em 0;
	@include media('>s-phone'){
		padding: 3.125em 0;
	}
	h2{
		@include font(0.8125em,1.5384,700);
		text-transform: uppercase;
		margin: 0 0 0.95em;
		@include media('>tablet'){
			line-height: 1.5625;
			font-size: 1em;
		}
	}
	.filter-form{
		margin: 0 0 0.6875em;
	}
}
.posts-section{
	.sub-title{
		@include font(0.8125em,1.5384,700);
		text-transform: uppercase;
		margin: 0 0 0.95em;
		@include media('>tablet'){
			line-height: 1.5625;
			font-size: 1em;
		}
	}
}
.sect-pagination{
	padding: 1.5625em 0;
	@include media('>desktop'){
		padding: 4.6875em 0;
	}
}